In [2]:
%pylab inline
import sys
import pandas

Populating the interactive namespace from numpy and matplotlib

/home/jngaravito57/Documents/codes/ipython/IPython/kernel/__init__.py:10: UserWarning: The `IPython.kernel` package has been deprecated. You should import from ipython_kernel or jupyter_client instead.
  warn("The `IPython.kernel` package has been deprecated. "

In [4]:
data = pandas.read_csv("Ejem_newick.csv")
dim = np.shape(data)
lev = dim[1]-1
sp = dim[0]

In [18]:
def convertor(lista):
    cadena = '('+','.join(map(str,lista))+')'
    return cadena
def joint(lista)

In [128]:
#data['#Binary format:']=('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q')
data

,#Binary format:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,a,1,1,0,1,0,0,0,0,1,1,1,1,1,1
1,b,1,1,0,1,0,0,0,0,1,1,1,1,1,1
2,c,0,1,0,1,0,0,0,0,1,1,1,1,1,1
3,d,0,1,0,1,0,0,0,0,1,1,1,1,1,1
4,e,0,1,0,1,0,0,0,0,1,1,1,1,1,1
5,f,0,0,1,1,0,0,0,0,1,1,1,1,1,1
6,g,0,0,1,1,0,0,0,0,1,1,1,1,1,1
7,h,0,0,1,1,0,0,0,0,1,1,1,1,1,1
8,i,0,0,0,0,1,0,1,1,1,1,1,1,1,1
9,j,0,0,0,0,1,0,1,1,1,1,1,1,1,1
10,k,0,0,0,0,0,1,1,1,1,1,1,1,1,1
11,l,0,0,0,0,0,1,1,1,1,1,1,1,1,1
12,m,0,0,0,0,0,0,0,1,1,1,1,1,1,1
13,n,0,0,0,0,0,0,0,0,0,0,1,1,1,1
14,o,0,0,0,0,0,0,0,0,0,0,0,1,1,1
15,p,0,0,0,0,0,0,0,0,0,0,0,0,1,1
16,q,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [181]:
L = []

for i in range(5):
    x = []
    if i==0:
        l = list(data[data[data.columns[i+1]]==1][data.columns[0]])
        L.append(convertor(l))
    if i>0:
        l = list(data[(data[data.columns[i+1]]==1) & (data[data.columns[i]]==0)][data.columns[0]])
        set1=data[data[data.columns[i]]==1][data.columns[0]]
        set2=data[data[data.columns[i+1]]==1][data.columns[0]]
        if True in set(set2.isin(set1)):
            for i in range(len(l)):
                L.append(l[i])
            #print L
                                
        else:
            L.append(convertor(l))
        L2=[convertor(L)]
        L=L2
print L[0]

(((((a,b),c,d,e),(f,g,h)),a,b,c,d,e),(i,j))

In [30]:
list(data[data[data.columns[1]]==1][data.columns[0]])

['Paragorgiidae stephencairnsi', 'Paragorgiidae yutlinux']

In [61]:
.join?

Object `join` not found.

In [ ]:
.join

In [ ]:
.joint

In [75]:
x = ["a", "b"]
"".join(map(str,x))

'ab'

In [105]:
set1=data[data[data.columns[1]]==1][data.columns[0]]

In [106]:
set2=data[data[data.columns[2]]==1][data.columns[0]]

In [107]:
set1.isin(set2)

0    True
1    True
Name: #Binary format:, dtype: bool

In [113]:
if True in set(set2.isin(set1)):
       print 'si'

si